body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkslateblue;
    color: #333;
}

a {
    color: #00a3ff;
    text-decoration: none;
}

hr {
    border: 1px dashed #0006;
}


input:not([type=submit]):not([type=file]) {
    width: 110px;
    border-radius: 3px;
    font-size: 16px;
    border: 1px solid #D8D8D8;
    transition: box-shadow 0.5s, border 0.5s;
    appearance: none;
    background-color: rgba(255, 255, 255, 0.9);
}

input:not([type=submit]):not([type=file]):focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

input:not([type=submit]):not([type=file]).red,
.login-btn.red,
.logout-btn.red {
    border-color: #fb5a5a;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 110, 110, .6);
    background-color: #ff5000;
}


.hide,
.login-container.collapsed,
.legend-inner.collapsed {
    display: none;
}


.timeline-container {
    width: 100%;
    height: 100vh;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
}


.date-axis {
    position: absolute;
    top: 0;
    left: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
}

.date-label {
    color: #fff;
    flex: 1;
    width: 36px;
    position: absolute;
    line-height: 20px;
    cursor: pointer;
}

.date-label-line {
    width: 1px;
    background-color: #888;
    min-height: 98vh;
    margin-left: 20px;
    position: absolute;
}


.timeline {
    position: relative;
    height: 90%;
    margin-top: 75px;
}


.event {
    position: absolute;
    height: 30px;
    border-radius: 8px 12px 12px 8px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 5px;
    cursor: pointer;
    line-height: 30px;
}

.event-title {
    position: sticky;
    left: 5px;
    display: flex;
    align-items: center;
    min-width: 0;
    max-width: calc(100% - 150px);
    height: 100%;
    z-index: 5;
    user-select: none;
}

.event-title-content {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}

.time-remaining {
    position: absolute;
    right: -90px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    padding: 2px 5px;
    border-radius: 8px;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
}


.completion-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin: 0 8px 0 4px;
    font-size: 15px;
    flex-shrink: 0;
}


.current-time-marker {
    position: absolute;
    min-height: 91vh;
    width: 2px;
    background-color: orange;
    z-index: 10;
    top: -10px;
}

.current-time-label {
    position: absolute;
    transform: translateX(-50%);
    top: -35px;
    background-color: white;
    padding: 2px 5px;
    border: 3px solid orange;
    border-radius: 8px;
    z-index: 11;
}


.week-day {
    font-size: 12px;
    color: lightgrey;
    text-align: center;
}

.month-day {
    position: sticky;
    left: 10px;
    text-align: center;
    border-radius: 4px;
}

.first-day {
    width: 34px;
    background-color: orange;
    position: sticky;
    left: 10px;
    z-index: 20;
}

.today {
    font-weight: bold;
}

.today .today-date {
    color: orange;
}


.left-corner-container {
    position: fixed;
    bottom: 30px;
    left: 20px;
    max-width: 45vw;
    font-size: 14px;
    z-index: 99;
}


.legend-container,
.login-container,
.banner-img-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.login-container {
    margin-bottom: 10px;
}


.legend-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.legend-item {
    display: flex;
    align-items: center;
}

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 8px;
}


.toggle-btn,
.login-btn,
.login-button,
.logout-btn,
.retry-btn,
.game-action-panel button {
    background-color: #00a3ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 6px;
}

.toggle-btn:hover,
.login-btn:hover,
.login-button:hover,
.logout-btn:hover,
.retry-btn:hover {
    background-color: #007acc;
}

.toggle-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
}

.legend-container.collapsed .toggle-btn {
    background-color: #ff5000;
}

.legend-container.collapsed .toggle-btn:hover {
    background-color: #cc4000;
}


.login-btn:disabled,
.login-button:disabled,
.logout-btn:disabled {
    background-color: #777;
    cursor: not-allowed;
}


.game-action-panel {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    top: 8px;
    left: 10px;
    width: 122px;
    z-index: 101;
    padding: 15px;
}

.game-action-panel h3 {
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: normal;
}

.game-action-panel .game-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.game-action-panel button {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

.game-action-panel button.launch-btn {
    background: #4CAF50;
}

.game-action-panel button.launch-btn:hover {
    background: #45a049;
}

.game-action-panel .web-cloud-btn {
    background: #2196F3;
}

.game-action-panel .web-cloud-btn:hover {
    background: #0b7dda;
}

.game-action-panel .cloud-btn {
    background: #cf75df;
}

.game-action-panel .cloud-btn:hover {
    background: #aa5bcc;
}

.game-action-panel .back-btn {
    margin-top: 10px;
    background: transparent;
    border: 1px solid #666;
    color: #000;
}

.game-action-panel .back-btn:hover {
    background: #aaa;
}


.time-remaining {
    position: absolute;
    right: -40px;
    background-color: #fff5;
    color: white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
    height: 20px;
    line-height: 20px;
}

.sort-container {
    margin-top: 10px;
    text-align: center;
}

.sort-select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.error-message {
    color: #ff4d4f;
    padding: 10px;
    text-align: center;
}

.error-message p {
    margin: 5px 0;
}

.game-action-btn {
    margin-left: 4px;
    cursor: pointer;
    font-size: 12px;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.game-action-btn:hover {
    opacity: 1;
}

.fixed-left {
    position: fixed;
    left: 0;
}

.banner-img-container {
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.banner-img {
    max-height: 200px;
    max-width: 40vw;
    object-fit: contain;
    border-radius: 8px;
}

.close-btn {
    position: absolute;
    top: -30px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    transition: all .3s;
    backdrop-filter: blur(10px);
}

.close-btn:hover {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
}

.event-banner {
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    border-radius: 6px;
    zoom: 1.5;
    background-size: 110%;
}

.date-info-container {
    position: fixed;
    top: 50px;
    right: 20px;
    width: 400px;
    height: auto;
    max-height: 45vh;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 65vw;
    border-radius: 8px;
    padding: 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 101;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
}

.date-info-header {
    height: 25px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #eee;
    flex-shrink: 0;
}

.date-info-title {
    font-size: 18px;
    font-weight: bold;
    /* display: block; */
    margin-bottom: 5px;
}

.date-info-countdown {
    font-size: 14px;
    color: #666;
}

.date-info-content {
    flex: 1;
    overflow-y: auto;
    padding: 0 15px;
    max-height: calc(45vh - 90px);
}

.date-events-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.date-event-item {
    padding: 8px 12px;
    border-radius: 6px;
    color: white;
    word-break: break-word;
    white-space: normal;
    display: flex;
    align-items: center;
}

.date-event-item .completion-box {
    margin-right: 8px;
    flex-shrink: 0;
}

.date-info-close-btn {
    position: absolute;
    top: 13px;
    right: 10px;
    background-color: #ddd;
    border: none;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    transition: all .3s;
    backdrop-filter: blur(10px);
}

.date-info-close-btn:hover {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
}

.guide-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    max-height: 80vh;
    background-color: #2a2a2aaa;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1001;
    overflow-y: auto;
    color: #fff;
    backdrop-filter: blur(16px);
}

.guide-modal h2 {
    color: #fff;
    margin-top: 0;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.guide-modal h3 {
    color: #ddd;
    margin-top: 20px;
}

.guide-modal p,
.guide-modal ul {
    line-height: 1.6;
}

.guide-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.guide-modal-content {
    padding-right: 15px;
}

.guide-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

::selection {
    background-color: #0094e8;
    color: #fff;
}

::-moz-selection {
    background-color: #0094e8;
    color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #8888;
}

::-webkit-scrollbar-thumb {
    background: #fffb;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fffe;
}